
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;    
}

h1{
    float: left;
}

/* menu  */
#menu-bar{
    display: none;

}
header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;

}
.menu{
    display: none;

}